{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/dresses.css' %}">
{% endblock %}
{% block content %}
<div class="space">
  <div class="container">
      <div class="row">
         <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
          <div class="card">
           <img src="static/images/d2.jpg" style="background-color:azure" alt="Sarees" class="img-thumbnail ce">
           <div class="card-body">
              <h6 class="card-title" style="color:brown;font-size:12px;">Pink top with stripes</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$60</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
         </div>
      
         <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
          <div class="card">
           <img src="static/images/d3.jpg" style="background-color:azure" alt="Dresses" class="img-thumbnail">
           <div class="card-body">
              <h6 class="card-title" style="color:brown;font-size:12px;">Blue printed top with plain pant</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$50</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          </div>
  
         <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
          <div class="card">
           <img src="static/images/d4.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
           <div class="card-body">
              <h6 class="card-title" style="color:brown;font-size:12px;">light pink printed top with plain green pant</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$70</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
         </div>
          <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
              <img src="static/images/d10.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
              <div class="card-body">
                  <h6 class="card-title" style="color:brown;font-size:12px;">Printed orange color pant and top</h6>
                  <p class="card-text" style="color:rgb(0, 174, 255)">$45</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
          </div>
          </div>
      </div>
  
      <div class="row">
          <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
            <img src="static/images/d6.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
            <div class="card-body">
              <h6 class="card-title" style="color:brown;font-size:12px;">Plain red and gray color dress with printed dupatta</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$50</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div> 
          </div>
          </div>
  
           <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
            <img src="static/images/d7.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
            <div class="card-body">
              <h6 class="card-title" style="color:brown;font-size:12px;">Plain shaded blue with printed top</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$60</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
           </div>
           <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
              <img src="static/images/d8.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
              <div class="card-body">
              <h6 class="card-title" style="color:brown;font-size:12px;">Cotton plain pant and printed top</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$50</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
              </div> 
          </div>
           </div>
           <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
              <img src="static/images/d9.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
             
              <div class="card-body">
                  <h6 class="card-title" style="color:brown;font-size:12px;">plain red pant and printed top</h6>
                  <p class="card-text" style="color:rgb(0, 174, 255)">$65</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
      </div>
      </div>
  </div>
  </div>
  <hr/>
      

{% endblock content %}