{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/sarees.css' %}">
{% endblock %}
{% block content %}
<div class="space">
  <div class="container">
      <div class="row">
         <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
          <div class="card">
           <img src="static/images/s1.jpg" style="background-color:azure" alt="Sarees" class="img-thumbnail ce">
           <div class="card-body">
              <h6 class="card-title" style="color:brown">Beautiful flower saree</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$100</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
         </div>
      
         <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
          <div class="card">
           <img src="static/images/s2.jpg" style="background-color:azure" alt="Dresses" class="img-thumbnail">
           <div class="card-body">
              <h6 class="card-title" style="color:brown">Nice pink flower saree</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$90</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          </div>
  
         <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
          <div class="card">
           <img src="static/images/s3.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
           <div class="card-body">
              <h6 class="card-title" style="color:brown">Work maroon color Saree</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$90</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
         </div>
          <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
              <img src="static/images/s4.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
              <div class="card-body">
                  <h6 class="card-title" style="color:brown">Grand red color saree</h6>
                  <p class="card-text" style="color:rgb(0, 174, 255)">$120</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
          </div>
          </div>
      </div>
  
      <div class="row">
          <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
            <img src="static/images/s5.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
            <div class="card-body">
              <h6 class="card-title" style="color:brown">Nice printed saree</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$80</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div> 
          </div>
          </div>
  
           <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
            <img src="static/images/s6.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
            <div class="card-body">
              <h6 class="card-title" style="color:brown">Red flower saree</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$60</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
           </div>
           <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
              <img src="static/images/s7.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
              <div class="card-body">
              <h6 class="card-title" style="color:brown">Rich looking yellow color saree</h6>
              <p class="card-text" style="color:rgb(0, 174, 255)">$130</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
              </div> 
          </div>
           </div>
           <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
              <div class="card">
              <img src="static/images/s8.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
             
              <div class="card-body">
                  <h6 class="card-title" style="color:brown">Cream color with purple border</h6>
                  <p class="card-text" style="color:rgb(0, 174, 255)">$120</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
                <div class="card">
              <img src="static/images/s9.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
              <div class="card-body">
                <h6 class="card-title" style="color:brown">Rich flower printed saree </h6>
                <p class="card-text" style="color:rgb(0, 174, 255)">$80</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
              </div>
            </div>
             </div>
             <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
                <div class="card">
                <img src="static/images/s10.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
                <div class="card-body">
                <h6 class="card-title" style="color:brown">Mangalarigi cotton saree</h6>
                <p class="card-text" style="color:rgb(0, 174, 255)">$80</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
                </div> 
            </div>
             </div>
             <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
                <div class="card">
                <img src="static/images/s11.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
               
                <div class="card-body">
                    <h6 class="card-title" style="color:brown">Simple red shaded saree</h6>
                    <p class="card-text" style="color:rgb(0, 174, 255)">$70</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                  </div>
                </div>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-3 mt-md-2">
        <div class="card">
        <img src="static/images/s12.jpg" style="background-color:azure" alt="Lehangas" class="img-thumbnail">
       
        <div class="card-body">
            <h6 class="card-title" style="color:brown">Green hand printes saree</h6>
            <p class="card-text" style="color:rgb(0, 174, 255)">$150</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
</div>
      </div>
  </div>
  </div>
  <hr/>
  

{% endblock content %}